Rules

1. Never reveal your identity
2. Learn the art of being invisible.
3. Pre-plan everything you do.
4. Never Give up.
5. There is no loosing only learning.
6. Don't be greedy, learn from others mistakes.
7. Read more, learn more. (The only teacher who can teach you is book)
8. The only competitor you have is you.
9. Discipline.
10. Passion.

*Most important make your own rules.
